html {
	background:url('eastland_dark.jpg') no-repeat center center;
	min-height: 100%;
	background-size: cover;
}

div {
	font-family: 'Oswald', sans-serif;
	color: #F8F8FF;
}

#greyhat_script {
	width:20%;
}

#construction {
	text-align: right;
	font-size: 20px;
}

#caption {
	text-align: right;
	font-size: 20px;
}

#small_caption {
	text-align: right;
	font-size: 20px;
	margin-top: 10%;
}

#container {
	width: 80%;
	max-width: 800px;
	position: absolute;
	right: 0;
	margin-right: 3%;
	margin-top: 10%;
}