html {
	background:url('eastland.jpg') no-repeat center center;
	min-height: 100%;
	background-size: cover;
}

#construction {
	font-family: 'Oswald', sans-serif;
	font-size: 20%;
}

.caption {
	font-family: 'Oswald', sans-serif;
}