html {
	/*background:url('rocks.jpg') no-repeat center center;*/
	min-height: 100%;
	background-size: cover;
}

body {
	margin-left: 0;
	margin-top: 0;
}

div {
	color: #F8F8FF;
}

#bg {
	position: absolute;
	overflow: hidden;
	background: url(lightning.jpg) no-repeat center top;
	min-height: 100%;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: repeat;
	z-index: -1000;
}

#greyhat_script {
	width:40%;
	height: auto;
	margin: 10px;
}

#construction {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-align: right;
	font-size: 20px;
}

#caption {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-align: right;
	font-size: 20px;
}

#small_caption {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-align: right;
	font-size: 20px;
	margin-top: 7%;
}

#container {
	width: 100%;
	max-width: 800px;
	position: absolute;
	right: 0;
	margin-right: 3%;
}

#mc_embed_signup {
	clear:left;
	font-family: 'Oswald', sans-serif;
}
